@tailwind base;
@tailwind components;
@tailwind utilities;

#bg-video {
  background-image: url("../public/lazygif.gif");
  background-size: cover;
}

#logo_home {
  background-image: url("../public/lazygif.gif");
  background-size: cover;
}

@media (min-width: 1024px) {
  #bg-video {
    background-image: url("../public/lazygif.gif");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  #logo_home {
    background-image: url("../public/lazygif.gif");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }
}
