@tailwind base;
@tailwind components;
@tailwind utilities;
/* navbar h = 3.8rem */
/* main width for the layout */
.user_menu_pos {
  position: absolute;
  z-index: 90;
  right: 2.5%;
}
.main {
  margin: 0 auto;
  width: 95%;
}
.home_titles {
  @apply font-bold text-fondo-500 text-2xl pb-6;
}
.nav_links {
  @apply p-2 rounded-lg hover:bg-fondo-100 transition-colors text-zinc-700 font-semibold;
}
.filter_btn {
  @apply w-[150px] h-12 px-2 text-zinc-600 bg-zinc-200 rounded justify-between items-center transition-colors cursor-pointer;
}

.filter_btn:disabled {
  @apply bg-fondo-100 text-zinc-50;
  pointer-events: none;
}
.input_class {
  @apply bg-gray-300 text-zinc-700 rounded p-2 outline-none border border-slate-300 mt-2;
}
.filters_modal {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 400px;
  padding-left: 100px;
  z-index: 1001;
}
.cart_modal {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: calc(100% + 100px);
  @apply pr-[100px];
  max-width: 500px;
  z-index: 1001;
}
.modal_bg {
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 1000;
  @apply bg-opacity-60 bg-zinc-900;
}
.grid_search_card {
  grid-template-columns: 160px auto;
}
/* width for navbar */
.card_width {
  min-width: 320px;
  width: 320px;
} /*agregar como clase tailwind "w-card"*/
.img_anim {
  animation-name: appear_logo;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.08, 0.7, 0, 1.04);
  animation-delay: 0.3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: backwards;
}
.title_anim {
  animation-name: appear_logo;
  animation-duration: 0.35s;
  animation-timing-function: cubic-bezier(0.08, 0.7, 0, 1.04);
  animation-delay: 0.15s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: backwards;
}

@keyframes appear_logo {
  from {
    transform: translateY(500px);
  }
  to {
    transform: translateY(0);
  }
}
.carousel-i {
  padding-bottom: 40px;
}
.carousel-i > button {
  /* background-color: #d77575; */
  @apply bg-fondo-300 transition-all;
}

.carousel-i > button:hover {
  /* background-color: #8a2828; */
  @apply bg-fondo-500;
}
.carousel-i:not(:hover) > button {
  opacity: 0;
}
/* store */
.grid_store {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 40px;
}
/* products dashboard */
.grid_dashboard_products {
  @apply grid;
  grid-template-columns: repeat(auto-fill, 160px);
  place-content: center;
  gap: 7rem;
}
/* loader */
@keyframes loader-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  border-right-color: transparent;
  animation: loader-rotate 1s linear infinite;
}

.pay {
  border: 1px solid rgba(162, 162, 162, 0.479);
  @apply bg-zinc-100 bg-opacity-90;
}
.invisible_filter::after {
  content: "Private";
  position: absolute;
  z-index: 19;
  height: 100%;
  width: 100%;
  @apply bg-zinc-600 bg-opacity-70 rounded-md grid place-content-center text-zinc-100 font-bold;
  top: 0;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger_top,
.hamburger_mid,
.hamburger_bot {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: white;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger_mid {
  transform: translateY(7px);
}

.hamburger_bot {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger_top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger_mid {
  display: none;
}

.open .hamburger_bot {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.menu_open {
  display: flex;
  transform: translateY(0);
}

.menu_close {
  overflow: hidden;
  transform: translateY(-100);
}

.grid_order {
  display: grid;
  grid-template-columns: auto 400px;
  gap: 1rem;
}
.grid_products_order {
  grid-template-columns: repeat(auto-fill, 160px);
  gap: 1rem;
}
@media (min-width: 425px) {
  .grid_order {
    display: flex;
    justify-content: center;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  gap: 8rem;
}

@media only screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
