@tailwind base;
@tailwind components;
@tailwind utilities;

#bg-video {
  background-image: url("../public/lazygif.gif");
  background-size: cover;
}

#logo_home {
  background-image: url("../public/lazygif.gif");
  background-size: cover;
}

@media (min-width: 1024px) {
  #bg-video {
    background-image: url("../public/lazygif.gif");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  #logo_home {
    background-image: url("../public/lazygif.gif");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.main {
  margin: 0 auto;
  width: 95%;
}
.nav {
  margin: 0 auto;
  width: min(1200px, 95%);
}
.carousel_btn {
  @apply p-2 bg-fondo-200 rounded;
}
.card_width {
  min-width: 320px;
  width: 320px;
} /*agregar como clase tailwind "w-card"*/
.banner_img {
  background-image: url(https://www.novagric.com/images/empresa/trabaja-con-nosotros.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img_anim {
  animation-name: appear_logo;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.08, 0.7, 0, 1.04);
  animation-delay: 0.15s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: backwards;
}
.title_anim {
  animation-name: appear_logo;
  animation-duration: 0.35s;
  animation-timing-function: cubic-bezier(0.08, 0.7, 0, 1.04);
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: backwards;
}

@keyframes appear_logo {
  from {
    transform: translateY(500px);
  }
  to {
    transform: translateY(0);
  }
}

.carousel-i {
  padding: 2px 20px;
}
.carousel-i > button {
  background-color: #d77575;
  z-index: 99;
}

.carousel-i > button:hover {
  background-color: #8a2828;
}

.carousel-i .react-multiple-carousel__arrow--left {
  left: calc(5% + -72px);
}
.carousel-i .react-multiple-carousel__arrow--right {
  right: calc(6% + -87px);
}
